<%- include('partials/header') %>
<h1>Application Submitted Successfully!</h1>
<p>Thank you for applying to visit Mars. We will review your application and get back to you shortly.</p>
<%- include('partials/footer') %>